<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/head') %>
  <%- include('../shared/signedInHeader.ejs') %>
  <body>
    <h1>My Resumes</h1>
    <div id="resumeList">
      <% if (resumes.length === 0) {%>
        <p>You have no resumes.</p>
      <% } else { %>
        <% for(let resume of resumes) { %>
          <div class="resume">
            <p><%= resume.title %></p>
            <a href="/resume-edit/<%= resume.id %>">Edit</a>
            <a href="/resume-view/<%= resume.id %>">View</a>
            <button class="share-btn">Share</button>
          </div>
        <% } %>
      <% } %>
    </div>

    <div id="shade">
      <div id="share-menu">
        <h1>Share</h1>
        <input type="text" name="share-txt" id="share-txt", placeholder="Add people">
        <select name="perms" id="perms">
          <option value="view">View</option>
          <option value="edit">Edit</option>
        </select>
        <span class="error-msg"></span>
      </div>
    </div>

    <script>
      const shareMenu = document.getElementById("share-menu");
      const shareInput = document.getElementById("share-txt");

      // open the share menu
      document.querySelectorAll(".share-btn").forEach(element => 
        element.addEventListener('click', (e) => {
          const resumeClass = e.target.parentNode;
          const title = resumeClass.querySelector('p').innerHTML;

          shareMenu.querySelector("h1").innerHTML = `Share "${title}"`;
          shareMenu.parentNode.style.display = "flex";
        })
      );

      // attempt to share with entered users
      //
      //TODO: try to autocomplete user and warn if not existent
      shareInput.addEventListener('input', async (e) => {
        console.log("yee");
      });
      shareInput.addEventListener('keydown', async (e) => {
        // user pressed 'enter'
        if (e.keyCode !== 13)
          return;

        let usernames = [shareInput.value];

        // check if multiple usernames were entered
        if (usernames.includes(',')) {
          usernames = shareInput.value.split(',').forEach(username => username.trimStart);
        }

        // update permissions for users who exist
        const res = await fetch("/resume-share", {
          method: "POST",
          body: JSON.stringify({
            usernames,
            perm: document.getElementById("perms").value
          }),
          headers: { "Content-Type": "application/json" }
        });

        const result = await res.json();
        document.querySelector("span.error-msg").innerHTML = result.msg;

        if (!result.success) {
          return;
        }
      })

      const exitShareMenu = function () {
        shareMenu.parentNode.style.display = "none";
      }

      // If shade is clicked, make hidden again
      shareMenu.parentNode.addEventListener('click', (e) => {
        if (e.target !== shareMenu.parentNode)
          return;
        exitShareMenu();
      })

      // If user presses escape, close menu
      document.addEventListener('keydown', (e) => {
        if (e.keyCode !== 27)
          return;
        exitShareMenu();
      })
    </script>

  </body>

</html>
